@import './components/sidebar';
@import './components/top';
@import './components/relatedSign';
@import './components/profile';
@import './components/change-profile';
@import './components/user';
@import './components/chat';
@import './components/create-group';
@import './components/group';
@import './components/notification';

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: column;

  .app-whole-container {
    margin-top: 20px;
  }

  .f-black {
    color: black !important;
  }

  h1, h2 {
    font-weight: normal;
  }

  ul {
    list-style: none;
  }

  li {
    display: inline-block;
    margin: 0 10px;
  }

  .flex-display {
    display: flex;
  }

  .bg-skyblue {
    background-color: #87ceeb;
  }

  .relative-container {
    margin: 0 20px;
    margin-top: 20px;
    width: 100%;
    position: relative;
  }

  a:hover {
    cursor: pointer;
  }

  .label-text {
    font-size: 12px;
    margin: 0;
  }
}
