.sidebar {
  flex-basis: 20%;
  background-color: deepskyblue;
}

.sidebar-list .sidebar-anchor {
  display: inline-block;
  width: 100%;
}

.sidebar-list .sidebar-anchor li {
  text-align: center;
  padding: 10px;
  margin: 0 0 10px 0;
  margin: 0;
  width: 100%;
  background: radial-gradient(deepskyblue, lightblue);
}

ul {
  list-style: none;
  padding: 0;
}

.menu {
  font-size: 25px;
  font-weight: 600;
  color: black;
}

