@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP');

.title {
  font-family: 'Noto Sans JP', sans-serif;
  color: white;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: left;
  color: #000;
  display: flex;
  flex-direction: column;
}

.f-black {
  color: black !important;
}

h1, h2 {
  font-weight: normal;
}

ul {
  list-style: none;
}

li {
  display: inline-block;
  margin: 0 10px;
}

.flex-display {
  display: flex;
}

.wrapper {
  padding: 10px 20px;
  margin: 10px;
}

.form-container {
  display: flex;
  flex-direction: column;
}

.form-wrapper {
  margin-top: 5px;
}

.inner-wrapper {
  font-size: 30px;
  font-weight: bold;
  text-align: center;
}

.form-label {
  font-weight: bold;
  padding-left: 10px;
}

.register-btn {
  width: 100px;
  margin: 10px auto;
}

.bg-skyblue {
  background-color: #87ceeb;
}