.direct-message-wrapper {
  margin: 20px 0;
  padding: 15px;
  background-color: aliceblue;
  height: 100%;

  .direct {
    text-align: center;
    width: 300px;
    margin: 0 auto;

    .userName {
      font-weight: bold;
    }
  }

  .chat-whole-container {
    height: calc(100vh - 200px);
    overflow: scroll;

    .chat-container {
      display: flex;
      align-items: center;

      .img-me img {
        margin-right: 10px;
      }

      .img-other img {
        margin-left: 10px;
      }

      img {
        width: 50px;
        height: 50px;
        border-radius: 50%;
      }
    }

    .chat-common {
      position: relative;
      display: inline-block;
      padding: 7px 10px;
      min-width: 120px;
      max-width: 100%;
      color: #555;
      font-size: 16px;
      background: #e0edff;

      .chat-wrapper {
        margin: 0;
        padding: 0;

        .triangle {
          position: absolute;
          top: 50%;
          margin-top: -15px;
        }
      }
    }

    .chat-me {
      margin: 1.5em 0 1.5em 15px;

      .triangle {
        left: -30px;
        border: 15px solid transparent;
        border-right: 15px solid #e0edff;
      }
    }

    .chat-other {
      margin: 1.5em 15px 1.5em 0;
      margin-left: auto;

      .triangle {
        left: 100%;
        border: 15px solid transparent;
        border-left: 15px solid #e0edff;
      }
    }
  }

  .chat-form-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;

    .label-text {
      font-size: 12px;
      margin: 0;
    }

    .chat-form-wrapper {
      display: flex;
      align-items: center;
      width: 90%;

      .chat-form {
        flex-grow: 15;
        margin-right: 15px;
        min-height: 32px;
      }

      .chat-submit-btn {
        padding: 0 5px;
        flex-grow: 1;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}
