.create-group-container {
  padding: 20px 0;

  .group-form-container {
    padding: 10px 0;
    margin: 0 40px;
    background-color: steelblue;
    border-radius: 10px;

    .group-label {
      font-weight: bold;
    }
  }

  .whole-member-list {
    padding: 10px 0;
    margin: 30px 40px;
    background-color: steelblue;
    border-radius: 10px;
    max-height: 200px;
    overflow: scroll;

    .member-title {
      font-weight: bold;
      margin-left: 20px;
    }

    .member-list-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      padding: 0 5px;

      .member-list-wrapper {
        display: list-item !important;
        background-color: azure;
        border: 3px solid lightskyblue;
        padding: 10px 20px;
        border-radius: 20px;
        cursor: pointer;
        margin: 10px 5px !important;

        .member-wrapper {
          display: flex;
          align-items: center;

          img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
          }

          .cross-icon {
            margin-left: 10px;
          }

          .member-info {
            margin-left: 10px;
            color: black;
          }
        }
      }
    }
  }

  .group-create-btn-wrapper {
    text-align: center;
  }
}