.user-select-wrapper {
  background-color: lightskyblue;
  padding: 15px;
  color: white;
  font-weight: bold;
  text-align: center;

  .user-select-title-wrapper {
    display: flex;
    flex-direction: column;

    .user-title {
      display: block;
      font-size: 14px;
      color: black;
    }

    .user-select-title {
      font-size: 24px;
    }
  }


  .user-select-list {
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;

    .user-info-wrapper {
      display: list-item !important;
      background-color: azure;
      border: 3px solid lightskyblue;
      padding: 10px 20px;
      margin: 10px 0 !important;
      border-radius: 20px;
      cursor: pointer;

      .user-wrapper {
        display: flex;
        align-items: center;

        img {
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }

        .user-info {
          margin-left: 10px;
          color: black;
        }
      }
    }
  }
}